.main {
  position: relative;
  width: 100%;
  height: 100vh;
}

#appContainer {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

video {
  max-width: 100%;
  width: 320px;
}

#remoteVideoContainer {
  position: absolute;
  left: 2rem;
  top: 2rem;
  max-width: 80vw;
  max-height: 60vh;
  z-index: 995;
  pointer-events: none;
}

#remoteVideoContainer video {
  max-width: 100%;
  width: 800px;
  max-height: 100%;
}

#localVideoContainer {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  z-index: 999;
  pointer-events: none;
}

#shoppingListContainer {
  position: fixed;
  right: -250px;
  bottom: -550px;
  z-index: 20;
  padding: 195px 0 0 76px;
  transition: all 0.8s ease-in-out;
  cursor: pointer;
}

#shoppingListContainer.visible {
  right: -115px;
  bottom: -130px;
}

#shoppingListContainer svg.thumb {
  position: absolute;
  left: 76px;
  top: 195px;
}

#shoppingList {
  width: 200px;
  height: 300px;
  background: green;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-10.2deg);
  padding: 21px 22px;
  box-sizing: border-box;
}

#shoppingList h2 {
  font-size: 24px;
  position: relative;
  margin-bottom: 20px;
}

h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background: white;
}

#shoppingList h2, #shoppingList p {
  color: white;
}

#shoppingList p {
  font-size: 18px;
  line-height: 1.3;
}

#welcomeScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  align-content: center;
  background: yellow;
  z-index: 20;
}